/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Oswald:400,300,700');
@import url('http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');
@import url('http://fonts.googleapis.com/css?family=Oswald:400,300');
@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700');
@import url('http://fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic');

body {
	width: 100%;
	height: 100%;
  	font-family: 'PT Sans Narrow', sans-serif;
	background: #2C2B36;
	color:#FFF;
	font-size: 16px;
	font-weight:normal;
}

html {
    width: 100%;
    height: 100%;
}

*{
	padding: 0;
	margin: 0;
}

a{

}

h1{
	color: #00a2a5;
    font-size: 18px;
    font-weight: normal;
}

p{
	padding-top:0;
}


label{
    color: #648D93;
    font-weight: 100;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

iframe{
	border:0;
}


.clear{
	clear: both;
}

.last{
	margin-right: 0;
}

.texto_ingresado {
}

.texto_ingresado textarea{
    padding: 5px;
    width:100%;
    border:0;
    height:100px;
}

.l{
	padding-left: 0;
}

.r{
	padding-right: 0;
}

table{
	border-color:#ccc;
	margin-bottom: 5px;
}

table th,
table td{
	padding:0 3px;
	border-color:#ccc;
}

table th{
	background: #f7f7f7;
    color: #648D93;
    font-weight: 100;
    padding: 1px 3px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

table .glyphicon {
    background: none repeat scroll 0 0 #333;
    border-radius: 3px;
    color: #cdd74e;
    float: right;
    margin: -2px -1px 0 0;
    padding: 6px;
}

table .btn .glyphicon {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 3px;
    color: inherit;
    float: right;
    margin: 0;
    padding: 0;
}

table .btn{
	float: none;
    margin: 0 auto;
    display: block;
}


/******************************************* PANEL *******************************************/

.panel {
    color:#333;
    background: #efefef;
    border-color:#434240;
    box-shadow: none;
    margin:0;
}

.panel-head{
	background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
    padding: 10px 15px;
    position:relative;
}

.panel-head .btn{
	height: 100%;
    padding: 6px 15px;
    position: absolute;
    right: 0;
    top: 0;
}

.panel-default > .panel-heading{
	background: #434240;
	border-color:#65abd0;
}

.panel-body .panel-heading{
	background: #efefef;
	border-color:#65abd0;
}


.panel-default > .panel-heading .btn{
	position: absolute;
	top:0;
	right:0;
}

.panel-default > .panel-heading,
.panel-default > .panel-heading a{
	color: #FFF;
	text-transform: uppercase;
	padding: 1px 15px;
	font-weight: 400;
	text-shadow: 2px 0px 2px rgba(00, 00, 00, 1);
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
}

.panel-body .panel-heading,
.panel-body .panel-heading a{
	color:#666;
	text-shadow: 2px 0px 2px rgba(245, 245, 245, 1);
	font-family: "Oswald",sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.panel-title {
    font-size: 18px;
}


.panel-default > .panel-heading a{
    display: block;
    width: 100%;
    padding:0;
}

.panel-default > .panel-heading a:focus{
    border:0;
    text-decoration: none;
}

.panel-default > .panel-heading a:hover{
    text-decoration: none;
}

.panel-default > .panel-heading{
	position: relative;
	height: 32px;
	padding: 4px 15px;
}

.panel-default .panel .panel-heading{
	height: inherit;
	padding: 1px 5px;
}

.panel-heading input{
	border:red solid 1px;
	float:right;
}



.panel-body{
	padding: 5px 15px;
}

.no-border{
	border-radius:0;
}

.no-bg{
	background: none;
	border:0;
}

.no-padding{
	padding:0;
}

/*************************************** BOTONES ***************************************/
.botones{
	text-align:right;
}

.btn{
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 12px;
    font-weight: bold;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.btn-default {
    background-color: #65abd0;
    border-color: #65abd0;
    color: #333;
}

.btn-primary {
	background-color: #3276b1;
	border-color: #3276b1;
	color: #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    margin-left:0;
}

.btn:hover{
	background-color: #3276b1;
	border-color: #3276b1;
	color:#FFF;
}

.grupo_botones{
	padding:0;
}

.btn-group{
	float:right;
}

.btn-group .btn + .btn, 
.btn-group .btn + .btn-group, 
.btn-group .btn-group + .btn, 
.btn-group .btn-group + .btn-group {
    margin-left: 0;
}

/************************************ botones********************************/

.botones{
}

.botones .btn{
	margin:0 0 0 5px;
}

.destacar{
	padding:10px 15px;
}

.destacar .texto_ingresado{
}

.box_destacar{
	padding:3px 15px;
	background: #648d93;
	color:#FFF;
    font-size: 18px;
    font-weight: 100;
    font-family: "Oswald",sans-serif;
}

.box_destacar strong{
	color:#FFF;
	font-weight: 400;
}

/****************************************/
.list-group-item{
	background: none;
}

a.list-group-item {
    color: #555;
    font-weight: bold;
}

.tareas{
}

.tareas .highlight{
	border-radius: 0;
	padding:0;
	border:0;
}

.tareas .highlight span{
	display:none;
}

.tareas .highlight .dato td{
	width:33%;
}

.tareas .highlight .dato td input{
	margin:2px;
}

/****************************************/
.nav-tabs li.active a:hover,
.nav-tabs li.active a{
	background: #648D93;
	border-color:#648D93;
	color:#FFF;
	text-shadow: 2px 0 2px rgba(0, 0, 0, 1);
}

.nav-tabs > li a{
	background: #eee;
	color: #666;
    text-shadow: 2px 0 2px rgba(245, 245, 245, 1);
    font-family: "Oswald",sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding:1px 3px;
    line-height: 1;
}

.espacio{
	display: inline-block;
	width:20%;
}

b, 
strong {
    font-weight: 100;
}

.box_buscador input{
	height:32px;
}

.dato{
	font-weight: 100;
}


textarea.form-control{
	padding:3px;
}

.form-control{
	color:#111;
	height:100%!important;
	width:100%!important;
	font-size:16px;
}